<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vsmwatchandroidapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VSMWatchAndroidApplication">
        <activity android:name=".ui.settings.SystemSetting"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.settings.EDASetting"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.settings.ECGSetting"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.settings.PPGSetting"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.logging.TemperatureLog"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.chart.TempActivity"
            android:screenOrientation="landscape"
            android:label="Temperature Graph">
        </activity>
        <activity
            android:name=".ui.chart.AccActivity"
            android:screenOrientation="landscape"
            android:label="Accelerometer Graph">
        </activity>
        <activity
            android:name=".ui.chart.EDAPhaseActivity"
            android:screenOrientation="landscape"
            android:label="EDA Phase Graph">
        </activity>
        <activity
            android:name=".ui.chart.EDAMagActivity"
            android:screenOrientation="landscape"
            android:label="EDA Magnitude Graph">
        </activity>
        <activity
            android:name=".ui.chart.ECGActivity"
            android:screenOrientation="landscape"
            android:label="ECG Graph">
        </activity>
        <activity
            android:name=".ui.dashboard.ScanFragment"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.logging.ShareActivity">
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">

        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.exportcsv.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>